<div class="backdrop is-hidden" contact-data-modal>
  <div class="contact-modal">
    <button type="button" class="contact-close-btn" contact-modal-close>
      <svg class="icon-x"><use href="./images/icons.svg#icon-x"></use></svg>
    </button>
    <h3 class="contact-title">Contact us</h3>
    <p class="contact-info">
      If you have any additional questions or you want to clarify something before you make an order
      please fill in your contact details. We will call you back.
    </p>
    <form id="contact-form" autocomplete="on">
      <div class="contact-div-form">
        <label for="user-name" class="contact-label">Name</label>
        <div class="contact-input-container">
          <input
            type="text"
            name="username"
            id="user-name"
            class="contact-input"
            placeholder="Kristin Watson"
            pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
            title="Username must be two words separated by space."
            required
          />
          <svg width="20" height="20" class="error-state-icon">
            <use href="./images/icons.svg#icon-Error-logo"></use>
          </svg>
          <svg width="20" height="20" class="ok-state-icon">
            <use href="./images/icons.svg#icon-Vector"></use>
          </svg>
        </div>
        <label for="user-email" class="contact-label">E-mail</label>
        <div class="contact-input-container">
          <input
            type="email"
            name="email"
            id="user-email"
            class="email-input contact-input"
            placeholder="tanya.hill@example.com"
            pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
            required
          />
          <svg width="20" height="20" class="error-state-icon">
            <use href="./images/icons.svg#icon-Error-logo"></use>
          </svg>
          <svg width="20" height="20" class="ok-state-icon">
            <use href="./images/icons.svg#icon-Vector"></use>
          </svg>
        </div>
      </div>
      <button type="submit" class="send-btn">Send</button>
    </form>
  </div>
</div>
