<section class="container">
  <div class="section-delivery">
    <h2 class="delivery-title">Delivery</h2>
    <div class="line-section"></div>
    </div>
    <ul class="delivery-list-main">

      <li class="delivery-list">
        <div class="delivery-number">
          <span>1</span></div>Choose your bouquet and make an order on website</li>

      <li class="delivery-list"><div class="delivery-number">
        <span>2</span>
      </div>Wait for the call to clarify the details of the order. You can pay online or to the courier
      <li class="delivery-list"><div class="delivery-number">
        <span>3</span>
      </div>Wait for the delivery at the selected time or pick up the order from the store</li>
      <li class="delivery-list"><div class="delivery-number">
        <span>4</span>
      </div>Make someone happy or enjoy yourself</li>
    </ul>
    <div class="delivery-photo">
    <img
    class="img"
      src="./images/flowersdelivery@1x.jpg"
      alt="delivery flowers"
      srcset="./images/flowersdelivery@2x.jpg 2x"
    />
    </div>
</section>
