<header>
  <div>
    <a href="index.html">
      <svg width="45" height="35">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <nav>
      <ul>
        <li><a href=""></a>Anemone</li>
        <li><a href=""></a>About us</li>
        <li><a href=""></a>Store</li>
        <li><a href=""></a>Delivery</li>
        <li><a href=""></a>Blog</li>
      </ul>
    </nav>
    <a href="tel:+1-800-555-5555">
      <svg width="22" height="22">
        <use href="./images/icons.svg#icon-tel"></use>
      </svg>
    </a>
    <button>
      <svg width="24" height="24">
        <use href="./images/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
