<section class="container">
    <div class="blog-section">
        <h2 class="blog-title">BLOG</h2>
        <div class="line"></div>
    </div>
    <ul class="blog-photo-wrapper">
        <li class="photo-item">
            <img src="./src./images./flowers1@x1.jpg" width="390" height="421" alt="Green flowers" />
        </li>
        <li class="photo-item">
            <img src="./src./images./flowers2@x1.jpg" width="390" height="421" alt="One orange flower" />
        </li>
    </ul>
    <ul class="arrow-wrapper">
        <li>
            <svg width="50" height="50" class="arrow">
                <use href="./images/icons.svg#icon-antenna-1-2"></use>
            </svg>
        </li>
        <li>
            <svg width="50" height="50" class="arrow">
                <use href="./images/icons.svg#icon-antenna-1-2"></use>
            </svg>
        </li>
    </ul>
    <div class="newsletter-wrapper">
        <span class="follow"> Follow to our newsletter</span>

        <button class="button-newsletter" type="button" data-modal-open>
            Subscribe
        </button>
    </div>
</section>