<section>
  <h2>About</h2>
  <div>
    <p>
      We are a minimalistic flower studio. We love people and flowers. Therefore, every day we give
      people the beauty and joy creating stylish and modern masterpieces. Every bouquet we create is
      unique as you are.
    </p>
    <img
      src="./images/flowers1@1x.jpg"
      alt="two flowers"
      width="288"
      height="178"
      srcset="./images/flowers1@1x.jpg 1x, ./images/flowers1@2x.jpg 2x"
    />
  </div>
</section>
<section>
  <h2>Store</h2>
  <div>
    <ul>
      <li>
        <img
          src="./images/bouquet1@1x.jpg"
          alt="first bouquet of flowers"
          width="136"
          height="155"
          srcset="./images/bouquet1@1x.jpg 1x, ./images/bouquet1@2x.jpg 2x"
        />
        <h3>compliments</h3>
        <p>from $15</p>
      </li>
      <li>
        <img
          src="./images/bouquet2@1x.jpg"
          alt="second bouquet of flowers"
          width="136"
          height="155"
          srcset="./images/bouquet2@1x.jpg 1x, ./images/bouquet2@2x.jpg 2x"
        />
        <h3>bouquets size S</h3>
        <p>from $25</p>
      </li>
      <li>
        <img
          src="./images/bouquet3@1x.jpg"
          alt="thierd bouquet of flowers"
          width="136"
          height="155"
          srcset="./images/bouquet3@1x.jpg 1x, ./images/bouquet3@2x.jpg 2x"
        />
        <h3>bouquets size M</h3>
        <p>from $45</p>
      </li>
      <li>
        <img
          src="./images/bouquet4@1x.jpg"
          alt="fourth bouquet of flowers"
          width="136"
          height="155"
          srcset="./images/bouquet4@1x.jpg 1x, ./images/bouquet4@2x.jpg 2x"
        />
        <h3>bouquets size L</h3>
        <p>from $60</p>
      </li>
    </ul>
  </div>
  <button type="button">Order flowers</button>
</section>
