<section>
  <div>
    <h2>Delivery</h2>
    <ul>
      <li>Choose your bouquet and make an order on website</li>
      <li>
        Wait for the call to clarify the details of the order. You can pay online or to the courier
      </li>
      <li>Wait for the delivery at the selected time or pick up the order from the store</li>
      <li>Make someone happy or enjoy yourself</li>
    </ul>
    <img
      src="./images/flowersdelivery@1x.jpg"
      alt="delivery flowers"
      width="320"
      height="135"
      srcset="./images/flowersdelivery@2x.jpg 2x"
    />
  </div>
</section>
<setion>
  <div>
    <h2>Blog</h2>
    <div>
      <img
        src="./images/flowers2@1x.jpg"
        alt="white flowers"
        width="136"
        height="181"
        srcset="./imagesflowers2@2x.jpg 2x"
      />
      <img
        src="./images/flowers3@1x.jpg"
        alt="orange flowers"
        width="136"
        height="181"
        srcset="./imagesflowers3@2x.jpg 2x"
      />
      <img
        src="./images/flowers4@1x.jpg"
        alt="blue flowers"
        width="136"
        height="181"
        srcset="./imagesflowers4@2x.jpg 2x"
      />
    </div>
    <div>
      <h3>Follow to our newsletter</h3>
      <button type="button">Subscribe</button>
    </div>
  </div>
</setion>
