<section id="store" class="container">
  <div class="store-section">
    <h2 class="about-title">Store</h2>
    <div class="line-section"></div>
  </div>
  <div class="store-wrapper">
    <ul class="list flex-store">
      <li class="service-item">
        <img
          src="./images/bouquet1@1x.jpg"
          alt="first bouquet of flowers"
          width="136"
          height="155"
          srcset="./images/bouquet1@2x.jpg 2x"
          class="store-photo-size"
        />

        <h3 class="store-item-name">
          <span class="title-item">compliments</span>
        </h3>

        <p class="store-item-price">from $15</p>
      </li>
      <li class="service-item">
        <img
          src="./images/bouquet2@1x.jpg"
          alt="second bouquet of flowers"
          width="136"
          height="155"
          srcset="./images/bouquet2@2x.jpg 2x"
          class="store-photo-size"
        />

        <h3 class="store-item-name">
          <span class="title-item"> bouquets size S</span>
        </h3>

        <p class="store-item-price">from $25</p>
      </li>
      <li class="service-item">
        <img
          src="./images/bouquet3@1x.jpg"
          alt="thierd bouquet of flowers"
          width="136"
          height="155"
          srcset="./images/bouquet3@2x.jpg 2x"
          class="store-photo-size"
        />

        <h3 class="store-item-name">
          <span class="title-item">bouquets size M</span>
        </h3>

        <p class="store-item-price">from $45</p>
      </li>
      <li class="service-item">
        <img
          src="./images/bouquet4@1x.jpg"
          alt="fourth bouquet of flowers"
          width="136"
          height="155"
          srcset="./images/bouquet4@2x.jpg 2x"
          class="store-photo-size"
        />

        <h3 class="store-item-name">
          <span class="title-item">bouquets size L </span>
        </h3>

        <p class="store-item-price">from $60</p>
      </li>
    </ul>
  </div>
  <div class="order-flower-box">
    <button class="btn-order-style" type="button" store-modal-open>Order flowers</button>
  </div>
</section>
