<div class="backdrop is-hidden" data-thanks-modal>
  <div class="thankyou-modal">
    <button type="button" class="close-button" data-thanks-close>
      <svg class="icon-x"><use href="./images/icons.svg#icon-x"></use></svg>
    </button>
    <div class="thankyou-wrapper">
      <img
        src="./images/Plants@1x.jpg"
        alt="plants"
        width="188"
        height="142"
        srcset="./images/Plants@2x.jpg 2x"
        class="thankyou-img"
      />
      <h3 class="thankyou-title">Thank you!</h3>
      <p class="thankyou-info">We have received your contact details and will reach you soon.</p>
      <button type="submit" class="continue-btn">Continue</button>
    </div>
  </div>
</div>
