.about-title {
  color: var(--black);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.about-section {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 14px;
  margin-bottom: 32px;
}

.flex-about {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-text {
  width: 288px;
  color: var(--black);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
  .about-title {
    font-size: 44px;
  }
  .about-section {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  .about-text {
    width: 322px;
  }
  .flex-about {
    display: flex;
    flex-direction: row;
    gap: 54px;
    margin-bottom: 100px;
  }
  .line {
    width: 538px;
    height: 1px;
  }
  .about-text {
    font-size: 20px;
    padding-top: 26px;
  }
  .about-photo-size {
    width: 344px;
    height: 217px;
  }
}
@media screen and (min-width: 1158px) {
  .line {
    width: 1050px;
    height: 1px;
  }
  .about-photo-size {
    width: 632px;
    height: 344px;
  }
  .about-text {
    font-size: 22px;
    width: 510px;
  }
  .flex-about {
    align-items: center;
    justify-content: space-between;
  }
}
