*,
*::before,
*::after {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('https://fonts.gstatic.com/s/inter/v4/UcC76YfYHzclF-86Kg1g5-4n.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('https://fonts.gstatic.com/s/inter/v4/UcC76YfYHzclF-86Kg1g5-4p.woff2') format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2')
    format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhzg.woff2')
    format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3gnD_vx3rCs.woff2')
    format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gnD_vx3rCs.woff2')
    format('woff2');
}

* {
  margin: 0;
  padding: 0;
}
:root {
  --pink: #e86f54;
  --white: #ffffff;
  --black: #000000;
}
.container {
  max-width: 767px;
  padding: 0 24px;
  margin: 0 auto;
}
.list {
  list-style-type: none;
}
.section {
  padding: 100px 0;
}
