:root {
  --pink: #e86f54;
  --white: #ffffff;
  --black: #000000;
}
.flex-store {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.service-item {
  max-width: 136px;
  height: 208px;
}

.store-section {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 14px;
  margin: 32px 0;
}

.store-item-name {
  color: var(--black);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 12px;
  padding-bottom: 6px;
}

.store-item-price {
  color: var(--black);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btn-order-style {
  color: var(--white);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  background-color: var(--pink);
  cursor: pointer;
  display: block;
  justify-content: center;
  align-items: center;
  min-width: 138px;
  min-height: 24px;
  border: none;
  border-radius: 38px;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 60px;
  padding: 14px 28px;
  gap: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-flower-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
